In [42]:
class scratch_linear_regression():
  def __init__(self):
    self.m=None
    self.b=None
    
  def fit(self ,X_train,y_train):

    numerator=0
    denumerator=0

    for i in range(X_train.shape[0]):

      numerator = numerator + ((X_train[i]-X_train.mean())* (y_train[i]-y_train.mean()))

      denumerator=denumerator + (X_train[i]-X_train.mean())*(X_train[i]-X_train.mean())
  
    self.m=numerator/denumerator

    # NOW FIND b
     
    b=y_train.mean() - (self.m*X_train.mean())
    self.b=b

    print(f"the value of m= {self.m}")
    print(f"the value of b= {self.b}")
    


  def pridict(self,X_test):
    return self.m + X_test + self.b

In [1]:
import numpy as np
import pandas as pd

df=pd.read_csv("/content/placement.csv")
df.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [8]:
X=df.iloc[:,0].values
y=df.iloc[:,1].values

In [ ]:
X

In [ ]:
y

In [39]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [43]:
my_model=scratch_linear_regression()

In [44]:
my_model.fit(X_train,y_train)

the value of m= 0.5579519734250721
the value of b= -0.8961119222429152

In [45]:
X_test[0]

8.58

In [46]:
my_model.pridict(X_test[0])

8.241840051182155