In [42]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Load the dataset from the CSV file
df = pd.read_csv('/content/new (1).csv')
df.head()

   Batting Avg   Bowling Avg   Runs Scored   Wickets Taken  Result
0         32.5          35.4           785              14     Won
1         26.1          28.8           543              18    Lost
2         44.2          52.3          1023               9     Won
3         39.6          41.2           931              12     Won
4         21.5          18.9           376              23    Lost

In [43]:
features=df.iloc[:,:-1]
features

    Batting Avg   Bowling Avg   Runs Scored   Wickets Taken
0          32.5          35.4           785              14
1          26.1          28.8           543              18
2          44.2          52.3          1023               9
3          39.6          41.2           931              12
4          21.5          18.9           376              23
..          ...           ...           ...             ...
62         42.7          15.3           587              34
63         24.6          41.2           202              13
64         38.1          20.4           499              26
65         31.7          27.8           368              20
66         48.5          10.9           706              40

[67 rows x 4 columns]

In [44]:
label=df.iloc[:,-1]
label

0      Won
1     Lost
2      Won
3      Won
4     Lost
      ...
62     Win
63    Loss
64     Win
65    Loss
66     Win
Name:  Result, Length: 67, dtype: object

In [32]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
target=encoder.fit_transform(label)

In [34]:
target

array([1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0])

In [18]:
#Split the dataset into a training set and a testing set
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [19]:
from sklearn.preprocessing import StandardScaler

# Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [55]:
import numpy as np

def standardize(X):
    # calculate the mean and standard deviation of each column
    means = features.mean(axis=0)
    stds = features.std(axis=0)

    # standardize the input columns
    features_std = (features - means) / stds
    
    return features_std

In [57]:
X=standardize(features)
X

    Batting Avg   Bowling Avg   Runs Scored   Wickets Taken
0     -0.042837      0.454669      0.664069       -0.483631
1     -0.901178     -0.192642     -0.412437        0.045402
2      1.526318      2.112177      1.722781       -1.144922
3      0.909385      1.023518      1.313531       -0.748147
4     -1.518111     -1.163608     -1.155315        0.706693
..          ...           ...           ...             ...
62     1.325145     -1.516687     -0.216709        2.161533
63    -1.102352      1.023518     -1.929332       -0.615889
64     0.708212     -1.016492     -0.608165        1.103468
65    -0.150130     -0.290719     -1.190902        0.309918
66     2.103016     -1.948227      0.312647        2.955082

[67 rows x 4 columns]

In [20]:
from sklearn.neighbors import KNeighborsClassifier

# Create a KNN classifier with k=5
knn = KNeighborsClassifier(n_neighbors=5)

# Train the classifier
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [21]:
from sklearn.metrics import accuracy_score

# Make predictions on the testing set
y_pred = knn.predict(X_test)

# Calculate the accuracy of the classifier
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 1.00

In [24]:
knn.score(X_test, y_test)

1.0

In [37]:
knn.predict([[32.5,45.4	,900	,12]])

array([1])